<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"></head>
        <body>
            <h1>New Menu Item</h1>
            <div class='pane'>
                <form action="{{ url_for('newMenuItem', restaurant_id=restaurant_id )}}" method='post'>
                    <dl>
                        <dt>Name:</dt>
                        <dd>
                            <input name='name' required size='30' type='text'></dd>
                            <dt>Description:</dt>
                            <dd>
                                <textarea cols='40' name='description' required rows='5'></textarea>
                            </dd>
                            <dt>Price:</dt>
                            <dd>
                                <input name='price' required size='8' type='text'></dd>
                                <dt>Course:</dt>
                                <dd>
                                    <input checked name='course' type='radio' value='Appetizer'>Appetizer</dd>
                                    <dd>
                                        <input name='course' type='radio' value='Entree'>Entree</dd>
                                        <dd>
                                            <input name='course' type='radio' value='Dessert'>Dessert</dd>
                                            <dd>
                                                <input name='course' type='radio' value='Beverage'>Beverage</dd>
                                            </dl>
                                            <input type='submit' value='Create'></form>
                                        </div>
                                    </body>
                                </html>
